.search-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 

    Button {
        margin-left: 10px;
    }

    @media (max-width: 600px) {
        flex-direction: column;

        .input {
            margin-right: 0; 
            margin-bottom: 10px;
        }
        
        Button {
            margin-left: 0;
        }
    }
}