.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 

    Input {
        flex-grow: 1;
    }
    
    Button {
         margin-left: 10px;
    }

    @media (max-width: 600px) {
        flex-direction: column;

        .input {
            margin-right: 0; 
            margin-bottom: 10px;
        }
    }
}