.launch-box {
    height: 100px;
    width: 220px;
    margin-bottom: 10px;

    .name {
        font-weight: bold;
        align-self: flex-start;
      }

    .id {
      color: #888;
      align-self: flex-start;
      margin-top: auto;
    }
  }
